.h-100 {
  height: 100vh;
}
.my-spacer {
  height: 5vh;
}
.my-little-spacer {
  height: 2.5vh;
}
.my-big-spacer {
  height: 15vh;
}
.main-background {
  background-image: url(https://external-preview.redd.it/W6biaLgY9OT4U-tt4Ma1lzURX0wJ-TjEGI0giTMB3zQ.jpg?auto=webp&s=ee8d3f1bbd06df2ff57a28bcd0d7f973108789d4);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  min-width: 100vh;
  min-height: 100vh;
}
a {
  color: #BF8720!important;
}
a:hover {
  color: #D4A552!important;
}
.bg-dark {
  background-color: #2E2A24!important;
}
.text-light {
  color: #FAD190!important;
}
.bg-warning {
  background-color: #BF8720!important;
}